<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>
<form action="/userExpense" method="get"  enctype="multipart/form-data">
    <p>Click <a th:href="'/users/' + ${userId} + '/expenses'">here</a> to see your expenses.</p>
</form>
<!--<td><a th:href="'/user/id' + ${user.getId()} +'/expense'">Expense</a></td>-->
<!--<p>Click <a th:href="@{/expense}">here</a> to see a greeting.</p>-->
</body>
</html>