<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container order-md-2 mt-5 mb-5">
    <form th:action="'/users/' + ${user.getId()} + '/update'" method="post" enctype="multipart/form-data">
        <label class="form-label">Id</label>
        <input type="number" name="userId" th:value="${user.getId()}" class="form-control" required><br>
        <label class="form-label">Username</label>
        <input type="text" name="userName" th:value="${user.getUsername()}" class="form-control" required><br>
        <label class="form-label">Role</label>

        <div th:each="role: ${allRoles}">
                <input type="checkbox" th:name="${role}" th:checked="${roles.contains(role)}" th:value="${role}"/>
                <td th:text="${role}"></td>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
            <ul th:each="expense : ${expenses}">
                <tr>
                    <td><div th:text="${expense.getDate()}"></div></td>
                    <td><div th:text="${expense.getTime()}"></div></td>
                    <td><div th:text="${expense.getDescription()}"></div></td>
                    <td><div th:text="${expense.getPrice()}"></div></td>
                    <td><div th:text="${expense.getComment()}"></div></td>
                    <td><a th:href="'/users/' + ${userId} + '/expenses/' + ${expense.getId()}">Edit</a></td>
                </tr>
            </ul>
            </tbody>
        </table>
        <button type="submit" class="btn">Update</button>
    </form>
    <div class="container order-md-2 mt-5 mb-5">
        <form th:action="'/users/' + ${user.getId()} + '/expense'" method="post" enctype="multipart/form-data">
            <input type="text" name="description" placeholder="Add description" class="form-control" required/><br>
            <input type="text" name="price" placeholder="Add price" class="form-control" required/><br>
            <input type="text" name="comment" placeholder="Add comment" class="form-control" required/><br>

            <button type="submit" class="btn btn-secondary">Add</a></button>
        </form>
    </div>
    <form th:action="'/users/' + ${user.getId()} + '/remove'" method="post">
        <button type="submit" class="btn">Delete</button>
    </form>
</div>
</body>
</html>