<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header><br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <ul th:each="user : ${users}">
        <tr>
            <td><div th:text="${user.getId()}"></div></td>
            <td><div th:text="${user.getUsername()}"></div></td>
            <td><div th:text="${user.getRoles()}"></div></td>
            <td><a th:href="'/users/' + ${user.getId()}">Edit</a></td>
        </tr>
    </ul>
    </tbody>
</table>
<form th:action="@{/registration}" method="post" enctype="multipart/form-data">
    <div><label> User Name : <input type="text" name="username" class="form-control"/> </label></div>
    <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
    <div th:each="role: ${allRoles}">
        <input type="checkbox" th:name="${role}" th:value="${role}"/>
        <td th:text="${role}"></td>
    </div>
    <button type="submit" class="btn btn-secondary">Add new user</a></button>
</form>
</body>
</html>